<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Relic List</title>
</head>
<body>
    <h1>DATA LIST</h1>
    <table>
        <thead>
            <tr>
                <td>번호</td>
                <td>분류</td>
                <td>이름</td>
                <td>상세보기</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="data : ${listData}">
                <td th:text="${data.listId}"></td>
                <td th:text="${data.ccmaName}"></td>
                <td th:text="${data.ccbaMnm1}"></td>
                <td>
                    <a th:href="@{/relic/detail/{id}(id=${data.listId})}">GO DETAIL</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>