<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>DETAIL</h1>
    <table>
        <tr>
            <td>IMAGE</td>
            <img th:src="${detailData.imageUrl}" alt="">
        </tr>
        <tr>
            <td>ID</td>
            <td th:text="${detailData.relicId}"></td>
        </tr>
        <tr>
            <td>NAME</td>
            <td th:text="${detailData.ccbaMnm1}"></td>
        </tr>
        <tr>
            <td>CONTENT</td>
            <td th:text="${detailData.content}"></td>
        </tr>
    </table>
</body>
</html>